<div class='containerfluid border-5 border-bottom border-warning'>
  <div class='container my-5'>

    <div class='container'>
      <%if flash[:messages]%>
        <div class="alert alert-danger" role="alert">
          <%flash[:messages].each do |message|%>
            <p><%=message%></p>
          <%end%>
        </div> 
      <%end%>
      <%if flash[:notice]%>
        <div class="alert alert-success" role="alert">
          <p><%=flash[:notice]%></p>
        </div> 
      <%end%>
      <%if flash[:danger]%>
        <div class="alert alert-danger" role="alert">
          <p><%=flash[:danger]%></p>
        </div> 
      <%end%>
    </div>


    <h2><%=@event.title%> <span class='text-muted'>by <%=@event.admin.email%></span></h2>
    <%if @event.avatar.attached?%>
      <%= image_tag @event.avatar, alt: 'avatar', height:300, class:'event_image' %>
    <%end%>  
    <hr>
    <p>Lieu : <%=@event.location%></p>
    <p>Date de début : <%=@event.start_date%></p>
    <p>Date de fin : <%=@event.end_date%>
    <hr>
    <p>Nombre de personnne(s): <%=@event.attendances.size%>
    <p> Prix : <%=@event.price%> €
    <hr class='border-3 border border-warning'>
    <p>Description:</p>
    <p class='mx-5'>>>> <%=@event.description%></p>
  </div>
</div>

<div class='containerfluid'>
  <div class='container '>
  <h2 class='text-center'>Participant(s)</h2>
  <br>
    <table>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
      </tr>
      <%@event.attendances.each do |attendance|%>
      <%if attendance.event.id == @event.id%>
      <tr>
        <td><%=attendance.user.last_name%></td>
        <td><%=attendance.user.first_name%></td>
        <td><%=attendance.user.email%></td>
      </tr>
      <%end%>
      <%end%>
  </div>
</div>