<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin mt-3",method: :put } do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Modification de ton Compte</h1>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label :first_name, "Prénom" %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, "Nom" %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description, "Description" %><br />
          <%= f.text_field :description, autofocus: true, autocomplete: "description", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password, "Mot de passe" %> <i>(Ne rien mettre si vous ne voulez pas le modifier)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <br />
        <div class="form-group">
          <%= f.label :current_password, "Mot de passe" %> <i>(Obligatoire pour confirmer les changements)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
        <div class="actions mt-5">
          <%= f.submit "Modifier", class: "btn btn-lg btn-outline-warning btn-block" %>
          <a class="btn btn-lg btn-outline-danger btn-block" href=<%=registration_path(resource_name)%> data-method='delete' data-confirm='Etes vous sur?'>Supprimer le compte</a>
        </div>
      <% end %>
      <br>
    </div>
  </div>
</div>
