<div class="jumbotron py-4 bg-light border-5 border-bottom border-warning">
    <div class="container">
      <h1 class="display-3">Tu t'ennuies<span class='yellow'>...</span> </h1>
        <p>Fait un tour sur le site et tu trouveras de quoi t'occuper. En plus d'accéder à des milliers d'évènements sur la ville de Pau tu peux créer le tiens !</p>
        <p><a class="btn btn-outline-warning btn-lg" href='<%=new_event_path%>' role="button">Je me lance</a></p>
  </div>
</div>

<div class="container py-3  ">
  
  <div class="row">
    <%@events.each do |event|%>
      <div class="col-md-4 p-5">
        <h2><%=event.title%></h2>
        <%if event.avatar.attached?%>
          <%= image_tag event.avatar, alt: 'avatar', height:100, class:'event_image' %>
        <%end%>  
        <p><%=event.description%></p> 
        <p><%=event.start_date.to_date%>
        <p><a class="btn btn-outline-warning" href=<%=event_path(event.id)%> role="button">Détails »</a></p>
      </div>
    <%end%>
  </div>  
  <hr>
</div>
