<div class='containerfluid border-5 border-bottom border-warning'>
  <div class='container my-5'>
    <h2><%=@event.title%> <span class='text-muted'>by <%=@event.admin.email%></span></h2>
    <hr>
    <p>Lieu : <%=@event.location%></p>
    <p>Date de début : <%=@event.start_date%></p>
    <p>Date de fin : <%=@event.end_date%>
    <hr>
    <p>Nombre de personnne(s): <%=@event.attendances.size%>
    <p> Prix : <%=@event.price%> €
    <hr class='border-3 border border-warning'>
    <p>Description:</p>
    <p class='mx-5'>>>> <%=@event.description%></p>
    <div class='text-center'>
      <a class="btn btn-outline-warning" href=<%=edit_event_path(@event.id)%>>Modifier</a>
      <a class="btn btn-outline-danger" href=<%=event_path(@event.id)%> data-method='delete' data-confirm='Etes vous sur ?' >Supprimer</a>
    </div>
  </div>
</div>

<div class='containerfluid'>
  <div class='container '>
  <h2 class='text-center'>Participant(s)</h2>
  <br>
    <table>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
      </tr>
      <%@attendances.each do |attendance|%>
      <%if attendance.event.id == @event.id%>
      <tr>
        <td><%=attendance.user.last_name%></td>
        <td><%=attendance.user.first_name%></td>
        <td><%=attendance.user.email%></td>
      </tr>
      <%end%>
      <%end%>
  </div>
</div>